<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("partials/errors.ejs") %>
    <form
      action="/search"
      method="GET"
      style="display: flex; flex-direction: column; gap: 20px"
    >
      <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" />
      </div>
      <div>
        <label for="mail">Email: </label>
        <input type="email" name="mail" id="mail" />
      </div>
      <button type="submit">Search</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
